.recognition-output {
    overflow: auto;
}

.recognition-output a:hover {
    text-decoration: underline;
    color: #fff;
}
.recognition-output a {
    color: #57f;
    text-decoration: none;
    /*font-weight: bold;*/
}

ul.nobullet {
    list-style: none;
    padding-left: 0em;
}